.Hero {
  background-image: url('../../../assets/hp-reu-hero.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 130px);
  max-height: 100vh;
  min-width: 360px;
}

.Hero-logo {
  height: 40vmin;
  pointer-events: none;
}


.Hero-header {

  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 575px) {
  .Hero {
    background-image: url('../../../assets/hp-reu-hero-mob-1024.webp');
    height: calc(100vh - 130px);
    max-height: 100vh;
  }

  .Hero-header {
    justify-content: start;
    padding-top: 60%;
  }
}

@media (max-width: 400px) {
  .Hero {
    height: calc(75vh - 130px);
    max-height: 70vh;
  }

  .Hero-header {
    justify-content: start;
    padding-top: 60%;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .Hero {
    background-image: url('../../../assets/hp-reu-hero-mob-1024.webp');
  }
}