.Hero {
  background-image: url('../../../assets/hp-reu-hero.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.Hero-logo {
  height: 40vmin;
  pointer-events: none;
}


.Hero-header {

  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 575px) {
  .Hero {
    background-image: url('../../../assets/hp-reu-hero-mob-1024.webp');
  }

  .Hero-header {
    justify-content: center;
    align-items: center;
    min-height: calc(80vh - 130px);
  }
  .Hero-header img{
    width: 70%;
  }
}

@media (max-width: 400px) {
  .Hero-header {
    justify-content: center;
    align-items: center;
    /* padding-top: 60%; */
  }
  .Hero-header img{
    width: 70%;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .Hero {
    background-image: url('../../../assets/hp-reu-hero-mob-1024.webp');
  }
}