@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #05032a !important;
  color: aliceblue !important;
}

h1 {
  font-family: 'Metal Mania', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}